**/.*
node_modules
bower_components
npm-debug.log
yarn.lock
coverage
!.gitignore
!.travis.yml
!.codeclimate.yml
!.npmrc
!.nycrc
!.eslintrc.json
!.eslintignore
!.prettierrc.json
dist/test
dist/example
