{
  "include": [
    "lib/**/*.ts"
  ],
  "exclude": [
    "node_modules",
    "dist"
  ],
  "extension": [
    ".js",
    ".ts"
  ],
  "reporter": [
    "lcov",
    "html",
    "text",
    "text-summary"
  ]
}
